<?xml version="1.0" encoding="UTF-8"?>
<configuration>   
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>        
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">   
        <file>offline-wallet-cli.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>offline-wallet-cli.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy> 
        <encoder>   
            <pattern>%date{YYYY-MM-dd HH:mm:ss.SSSXX} %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>   
        </encoder>
    </appender>
     
    <logger name="org.veriblock.core" level="INFO">
        <appender-ref ref="FILE"/> 
    </logger>
     
    <logger name="veriblock" level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/> 
    </logger>

    <root level="INFO" />
</configuration>